###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto eol=lf

###############################################################################
# Set default behavior for command prompt diff.
# This is needed for earlier builds of msysgit that do not have it by
# default for C# files. Only used by command line.
###############################################################################
#*.cs     diff=csharp

###############################################################################
# Set the merge driver for project and solution files
# Merging from the command prompt will add diff markers to the files if there
# are conflicts (Merging from VS is not affected). Diff markers may cause the
# following file extensions to fail to load in VS. You can treat them as binary.
###############################################################################
#*.sln       merge=binary
#*.csproj    merge=binary
#*.vbproj    merge=binary
#*.vcxproj   merge=binary
#*.vcproj    merge=binary
#*.dbproj    merge=binary
#*.fsproj    merge=binary
#*.lsproj    merge=binary
#*.wixproj   merge=binary
#*.modelproj merge=binary
#*.sqlproj   merge=binary
#*.wwaproj   merge=binary

###############################################################################
# Behavior for image files
# Treated as binary by default.
###############################################################################
#*.jpg   binary
#*.png   binary
#*.gif   binary

###############################################################################
# Diff behavior for common document formats
# Convert binary formats to text before diffing (command line only)
###############################################################################
#*.doc   diff=astextplain
#*.DOC   diff=astextplain
#*.docx  diff=astextplain
#*.DOCX  diff=astextplain
#*.dot   diff=astextplain
#*.DOT   diff=astextplain
#*.pdf   diff=astextplain
#*.PDF   diff=astextplain
#*.rtf   diff=astextplain
#*.RTF   diff=astextplain

###############################################################################
# Laravel / Node / Web project specific rules
###############################################################################
*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
